
<div class="row card-container" (scroll)="onScroll()">

<div class="col-12">
    <form (keydown)="keyDownFunction($event, box.value)">
    <div class="row">
  <div class="col-4">
  </div>
  <div class="col-4 inpuc">
  <input #box placeholder="Keresés" type="text" class="text-black col-12 mat-input-element">
</div>
</div>
</form>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let movie of movies.slice(0, 12*(Math.floor(movies.length/12)))">
    <mat-card class="example-card" (click)="onClick(movie.id)">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <div class="card-title">{{movie.title}}</div>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="{{ movie.poster_path ? ('https://image.tmdb.org/t/p/w600_and_h900_bestv2'+movie.poster_path) : 'http://via.placeholder.com/200x300'}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{movie.overview}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!--<button mat-button>More</button>-->
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-12">
    <div class="row">
      
      <div class="col-5">
      </div>
      <div class="col-2">
        <mat-card class="example-card" (click)="onScroll()"> 
          <mat-card-content class="text-white text-center">
            More
          </mat-card-content>
    
        </mat-card>
      </div>
    </div>
  </div>
</div>

